body {
  font-family: Helvetica, Arial, sans-serif;
}

.txt-name {
  font-size: 2em;
  font-weight: bold;
  padding-top: 3.5em;
  text-align: center;
  text-transform: capitalize;
}

.txt-event {
  font-size: 3em;
  font-weight: normal;
  text-align: center;
  text-transform: capitalize;
}

.txt-date {
  text-align: center;
  font-size: 1em;
  font-weight: lighter;
}

.txt-bracket {
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
}

.txt-bib {
  font-size: 18em;
  text-align: center;
  font-weight: bold;
}

.column-left {
  float: left;
  width: 33%;
  text-align: center;
  top: 15mm;
}

.column-center {
  float: left;
  width: 33%;
  text-align: center;
  top: 15mm;
}

.column-right {
  float: right;
  width: 33%;
  text-align: center;
  top: 15mm;
}
