body {
  font-family: Helvetica, Arial, sans-serif;
}

.txt-name {
  color: white;
  font-size: 6em;
  font-weight: bold;
  line-height: 0em;
  padding-top: 2em;
  text-align: center;
  text-transform: capitalize;
}

.txt-event {
  font-size: 2em;
  font-weight: normal;
  line-height: 0em;
  margin: 0px;
  padding: 0;
  text-align: center;
  text-transform: capitalize;
}

.txt-date {
  text-align: center;
  font-size: 1em;
  font-weight: lighter;
}

.txt-bracket {
  text-align: center;
  font-size: 1em;
  font-weight: bold;
  margin-top: 0px;
}

.txt-bib {
  font-size: 18em;
  line-height: 0em;
  margin: -72px 0px;
  padding: 0;
  text-align: center;
  font-weight: bold;
}

.column-left {
  float: left;
  width: 33%;
  text-align: center;
  top: 15mm;
}

.column-center {
  float: left;
  width: 33%;
  text-align: center;
  top: 15mm;
}

.column-right {
  float: right;
  width: 33%;
  text-align: center;
  top: 15mm;
}
